<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SecProbRec19.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
    <connectionStrings>
      <add name="SecProbRec19Context" connectionString="Data Source=192.168.1.9\DBSQL; Initial Catalog=secprob_db; User Id=secprob_db; Password=S$f1@154bravo;"/>
    </connectionStrings>
  </location>
</configuration>