@{
    ViewData["Title"] = "LUBEXx - Resultado de Prova de Segurança";
}
<h1>@ViewData["Title"]</h1>

<p>Prezado Colaborador(a),</p>

<p>Esperamos que este link o encontre bem.</p>
    
<p>Gostaríamos de informá-lo(a) sobre o teste de conhecimento de segurança pelo qual você acaba de passar.</p>

<p>Durante o teste, você foi redirecionado(a) para uma página de alerta como parte de um exercício destinado a avaliar a conscientização e a prontidão da nossa equipe em relação à segurança cibernética.
    Lamentamos informar que, de acordo com os critérios estabelecidos para o teste, sua resposta <strong>não atendeu</strong> aos padrões de segurança desejados.</p>

<p>É importante ressaltar que os dados coletados durante este teste são <strong>estritamente confidenciais</strong> e serão utilizados apenas para fins de avaliação interna de segurança. Nenhum dado pessoal, incluindo seu endereço de e-mail, será compartilhado ou divulgado a terceiros.</p>

<p>Valorizamos seu comprometimento com a segurança cibernética e acreditamos que esse teste seja uma oportunidade de aprendizado para todos nós. Encorajamos você a entrar em contato com nossa equipe responsável pela segurança cibernética da LUBEXx caso tenha alguma dúvida ou precise de recursos adicionais para aprimorar sua conscientização em relação à segurança.</p>

<p>Agradecemos por sua cooperação neste importante esforço para manter nossa empresa segura contra ameaças cibernéticas.</p>

<p>Atenciosamente,</p>
<p>Departamento de Tecnologia<br />
Gestão de Receitas<br />
LUBEXx Distribuidor Autorizado<br />
(62) 99847-7490<br />
(62) 3269-0909 R:955</p>