@{
    ViewData["Title"] = "HOME - Resultado de Prova de Segurança";
}
<h1>@ViewData["Title"]</h1>

<p>Prezado [Nome do Usuário],</p>

<p>Esperamos que este e-mail o encontre bem. Gostaríamos de informá-lo sobre o teste de conhecimento de segurança pelo qual você recentemente passou.</p>

<p>Durante o teste, você foi redirecionado para uma página de alerta como parte de um exercício destinado a avaliar a conscientização e a prontidão da nossa equipe em relação à segurança cibernética. Lamentamos informar que, de acordo com os critérios estabelecidos para o teste, sua resposta não atendeu aos padrões de segurança desejados.</p>

<p>É importante ressaltar que os dados coletados durante este teste são estritamente confidenciais e serão utilizados apenas para fins de avaliação interna de segurança. Nenhum dado pessoal, incluindo seu endereço de e-mail, será compartilhado ou divulgado a terceiros.</p>

<p>Valorizamos seu comprometimento com a segurança cibernética e acreditamos que esse teste seja uma oportunidade de aprendizado para todos nós. Encorajamos você a entrar em contato com nossa equipe de segurança cibernética caso tenha alguma dúvida ou precise de recursos adicionais para aprimorar sua conscientização em relação à segurança.</p>

<p>Agradecemos por sua cooperação neste importante esforço para manter nossa empresa segura contra ameaças cibernéticas.</p>

<p>Atenciosamente,</p>
<p>[Seu Nome]</p>
<p>[Seu Cargo]</p>
<p>[Nome da Empresa]</p>
<p>[Informações de Contato da Equipe de Segurança Cibernética]</p>